:root{
    --background-color: rgb(18, 11, 13);
    --text-color: rgb(227, 47, 77);
}

body{
    background-color: var(--background-color);
}

#preloader {
    z-index: 9999;
    width: 120px;
    height: 120px;
    top: 25%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(164, 35, 35);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}